{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Reset {% endblock %}
{% block content %}
<h2 class="text-center"> {% if title %} Password Reset {% endif %}</h2>
<hr>
<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-12 mx-auto">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group float-right">
                <button class="btn btn-outline-info" type="submit">Send Reset Email</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}