{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}
{% block content %}

<h3 class="text-center"> Profile Info </h3> <hr>

<div class="text-center">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <img src="{{user.profile.image.url}}" class="circular" alt="...">
    <h4 class="text-warning mt-2">{{user.first_name}} {{user.last_name}}</h4>
    <p class="text-warning">{{user.email}}</p>
</div>

<div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12 mx-auto">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </div>      
            <div class="form-group float-right">
                <button class="btn btn-outline-info" type="submit">Update Profile</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}