{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<h2 class="text-center">{{ title }}</h2> <hr>

<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12 mx-auto">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{form.media}}
            <div class="form-group">
                {{ form.title }}                
            </div>
            <div class="text-center form-group">
                <label for="" class="text-center">Project Duration</label>
            </div>    
            <div class="row">            
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                    <div class="form-group">
                        {{ form.starting_date }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                    <div class="form-group">
                        {{ form.ending_date }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.funding_agency }}
            </div>
            <div class="form-group">
                {{ form.location }}
            </div>
            <div class="form-group">
                <label for="">Project Summary:</label>
                {{ form.summary }}
            </div>
            <div class="form-group">
                <label for="">Direct Beneficiaries</label>
                {{ form.direct_beneficiary }}
            </div>
            <div class="text-center form-group">
                <label for="" class="text-center">Project Reports</label>
            </div> 
            <div class="row">
                {% for report in form.project_report %}
                <div class="col-3 ">
                    {{ report }}
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.assessment_evaluation }}
            </div>
            <div class="form-group">
                {{ form.audit }}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 form-group"> {{form.file1}} </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 form-group"> {{form.file2}} </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 form-group"> {{form.file3}} </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 form-group"> {{form.file4}} </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 form-group"> {{form.file5}} </div>
                </div>
            </div>
            <div class="form-group float-right">
                {% if valueBtn == 'Add' %}
                <button type="submit" class="btn btn-success btn-sm" value=" {{ valueBtn }} "> <span
                        class="fa fa-plus"></span> </button>
                {% elif valueBtn == 'Update' %}
                <button type="submit" class="btn btn-success btn-sm" value=" {{ valueBtn }} "> <span
                        class="fa fa-edit"></span> </button>
                <a href=" {% url 'dashboard:project' %} " class="btn btn-success btn-sm"> <span
                        class="fa fa-arrow-left"></span></a>
                {% endif %}
            </div>
        </form>
        {% for field in form %}
        {% for error in field.errors %}
        <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
        {% endfor %}
    </div>

{% endblock %}